@font-face {
font-family: MyFont;
src: url(https://fonts.gstatic.com/s/ruslandisplay/v7/SREdhlyLNUfU1VssRBfs3vU6mWWEjxQfxRM03tsnJcQ.woff2);
}
body {
	background-image: url('../img/bg-31.png');
}
#MainContainer {
	display: block;
	margin: 0 auto;
	background-color: #e5e4d8;
	width: 1000px;
	min-height: 1700px;
	position: relative;
	box-shadow: 0 0 70px rgba(0,0,0,0.9);
	margin-top: -16px;
}
#mainHeader {
	background: url("../img/fontHeader.jpg");
	background-repeat: no-repeat;
	position: absolute;
	color: rgb( 176, 169, 169 );
	text-align: center;
	font-family: "MyFont";
	text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
	width: 1000px;
	height: 600px;
	z-index: 4;
}
#mainHeader p.mainFont {
	margin: 100px auto;
	font-size: 80px;
}

#mainHeader p.additionalFont {
	position: absolute;
	margin-left: 390px;
	margin-top: -50px;
	font-size: 20px;
}

#mainMenu ul {
	list-style-type: none;
	z-index: 5;
	position: relative;
	padding-top: 300px;
}
#mainMenu ul li {
	display: block;
	float: left;
	width: 250px;
	height: 40px;
	box-sizing: border-box;
	margin: auto 0px;
	margin-bottom: 50px;
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	background: url(../img/bg.jpg) no-repeat scroll center bottom;
	text-align: center;
	padding-top: 11px;
}
#mainMenu ul li:first-child {
	border-left: 0px;
}

#mainMenu ul a {
	display: block;
	font-family: "Verdana";
	text-decoration: none;
	color: #000;
	font-size: 17px;
	height: 100%;
	width: 100%;
	z-index: 9999999999;
}
#mainMenu ul li:hover {
	background-position: center top;
	-webkit-animation: linkhover 0.9s 1 ease;
    -moz-animation: linkhover 0.9s 1 ease; 
    -o-animation: linkhover 0.9s 1 ease;
}
@-webkit-keyframes linkhover {   
   from { background-position: center bottom;}
   to { background-position: center top;}
}
@-moz-keyframes linkhover { 
   from { background-position: center bottom;}
   to { background-position: center top;}
}
@-o-keyframes linkhover {  
   from { background-position: center bottom;}
   to { background-position: center top;}
}

#AboutCompany {
	box-sizing: border-box;
	display: block;
	width: 780px;
	background-color: #c9c8ba;
	font-size: 17px;
	font-family: "Verdana";
	text-align: center;
	border-radius: 5px;
	padding: 30px;
	margin: -10px 110px -10px 110px;
}
#imgLine {
	display: block;
	text-align: center;
}

#products {
	margin: 10px 100px 115px;
	width: 800px;
	height: 800px;
}
#products > img {
	margin-bottom: -30px; 
}
#products div.unchangedProduct {
	position: relative;
	box-sizing: border-box;
	width: 300px;
	height: 200px;
	float: left;
	border: 1px solid #888888;
	margin: 30px 49px;
	padding-top: 30px;
	opacity: 0.6;
	cursor: pointer;
}
#products div.unchangedProduct:hover {
	box-shadow: 0px 0px 20px -2px #3a4e4c;
}
#products div.unchangedProduct img {
	width: 200px;
}
#products div.unchangedProduct p {
	text-align: right;
	position: absolute;
	right: 15px;
	bottom: 5px;
	font-family: "Verdana";
	font-size: 13px;
	color: #000;
}
#products div.changedProduct {
	position: relative;
	box-sizing: border-box;
	width: 300px;
	height: 200px;
	padding-top: 30px;
}

#products div.changedProduct img {
	float: right;
	margin-top: 15px;
}

#products div.changedProduct img#btnBack {
	position: absolute;
	top: -87px;
	left: -292px;
	width: 30%;
	cursor: pointer;
	opacity: 0.5;
}
#products div.changedProduct img#btnBack:hover {
	opacity: 1;
}

#products div.changedProduct span > img {
	width: 120%;
	height: 120%
}

#products div.changedProduct span {
	position: absolute;
	right: -170px;
	display: block;
	min-height: 200px;
	min-width: 150px;
}

#products div.changedProduct table {
	box-sizing: border-box;
	position: absolute;
	top: 291px;
	left: -280px;
	display: block;
	font-family: "Verdana";
	font-size: 12px;
	border: 1px dotted;
	padding: 7px;
	margin: auto;
	height: 146px;
	overflow: hidden;
}
#products div.changedProduct table tr {
	border-top: 1px dotted;
}
#products div.changedProduct table tr:first-child {
	border-top: none;
}
#products div.changedProduct table td {
	width: 195px;
}
#products div.changedProduct h2 {
	width: 30%;
	position: absolute;
	font-weight: bold;
	top: 120px;
	left: -214px;
	width: 230px;
	text-align: center;
	font-family: "Georgia";
	font-size: 18px;
}
#products div.changedProduct h2 > b {
	color: #415452;
}

#products div.changedProduct .ordering {
	box-sizing: border-box;
	position: absolute;
	bottom: -534px;
	left: 255px;
	width: 283px;
	height: 262px;
	padding: 65px 20px 20px;
	background-color: gray;
}
#products div.changedProduct .ordering img {
	width: 240px;
}

.submitButton {
	background: no-repeat left top url(../img/order.png);	
	line-height: 48px;
	width: 173px;
	border: none;
}

h1 {
	font-family: "MyFont";
	font-size: 25px;
	color: rgb( 176, 169, 169 );
	text-shadow: #000 1px 0px 1px, #000 0px 1px 1px, #000 0px 1px 2px, #000 1px 0px 1px;
}
#footer {
	position: relative;
  	font-family: "Trebuchet MS";
  	color: rgb( 194, 189, 189 );
	font-weight: bold;
	font-style: italic;
}
#footer table.footerTable {
	position: absolute;
	display: block;
	top: 142px;
	font-size: 15px;
	font-family: "Trebuchet MS";
	color: #3c3c38;
	text-align: center;
}

#footer .footerTable td {
	padding-left: 20px;
}
#footer .footerTable td b{
	color: #beb9b7;
	font-weight: bold;
}
#footer .footerTable.adress {
	right: 135px;
}
#footer .footerTable.contacts {
	left: 80px;
}

#footer img {
	margin-top: 70px;
	margin-bottom: -10px;
}
#footer #social {
	position: absolute;
	bottom: 20px;
	left: 30px;
	float: left;
	opacity: 0.5;
}
#footer #social img{
	width: 28px;
	height: 28px;
}
#footer #copy {
	position: absolute;
	bottom: 20px;
	right: 80px;
}

body table {
	display: none;
}
.textile {
	position: relative;
	margin-top: 260px;
	right: -238px;
	display: block;
	width: 409px;
	max-height: 148px;
	overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    float: right;
}
#products div.changedProduct .textile img {
	position: relative;
	display: block;
	float: left;
	margin: 1px 1px 0px 0px;
	cursor: pointer;
}